body {
	font-family: 'Open Sans', sans-serif;
}

.rtaContainer {
	box-shadow: -5px 3px 5px rgba(50, 50, 50, 0.68),4px 5px 5px rgba(50, 50, 50, 0.68);
	background-color: #FFFFFF;
}

.rtaLogoContainer {
	background-color: #FFFFFF;
}


#logoImage {
	padding-top: 3px;
	padding-bottom: 4px;

}


.rtaWhiteBgrd{
	background-color: #fff;
	padding-bottom: 6px;
}


.rtaPanelHeading {
	background-repeat: repeat-x;


	background-image: -webkit-linear-gradient(270deg,rgba(0,6,128,1.00) 1.55%,rgba(16,0,233,1.00) 99.48%);
	background-image: -moz-linear-gradient(270deg,rgba(0,6,128,1.00) 1.55%,rgba(16,0,233,1.00) 99.48%);
	background-image: -o-linear-gradient(270deg,rgba(0,6,128,1.00) 1.55%,rgba(16,0,233,1.00) 99.48%);
	background-image: linear-gradient(180deg,rgba(0,6,128,1.00) 1.55%,rgba(16,0,233,1.00) 99.48%);
	padding-top: 6px;
	padding-bottom: 6px;
	padding-right: 10px;
	padding-left: 20px;
	color: #FFFFFF;
	border-width: 1px;
	border-style: solid;
	border-radius: 6px;
	font-size: 20px;
	background-color: #6F6F71;
}
.rtaPanelCol {
	padding-left: 15px;
	padding-top: 12px;
	margin-bottom: 20px;
}
.rtaFooter {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 5px;
	margin-top: 0px;
	border-top: 1px solid #B1B2B2;
}
.rtaPanelCol a {
	color: #051088;
}
hr {
	margin-top: 8px;
	margin-bottom: 8px;
}
.navbar-nav li a {
	font-size: 15px;
}


.navbar-custom {
  background-color: #b5adad;
  border-color: #a59c9c;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#cdc8c8), to(#b5adad));
  background-image: -webkit-linear-gradient(top, #cdc8c8, 0%, #b5adad, 100%);
  background-image: -moz-linear-gradient(top, #cdc8c8 0%, #b5adad 100%);
  background-image: linear-gradient(to bottom, #cdc8c8 0%, #b5adad 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffcdc8c8', endColorstr='#ffb5adad', GradientType=0);
  
  

	background-image: -webkit-linear-gradient(270deg,rgba(0,6,128,1.00) 1.55%,rgba(16,0,233,1.00) 99.48%);
	background-image: -moz-linear-gradient(270deg,rgba(0,6,128,1.00) 1.55%,rgba(16,0,233,1.00) 99.48%);
	background-image: -o-linear-gradient(270deg,rgba(0,6,128,1.00) 1.55%,rgba(16,0,233,1.00) 99.48%);
	background-image: linear-gradient(180deg,rgba(0,6,128,1.00) 1.55%,rgba(16,0,233,1.00) 99.48%);
}
.navbar-custom .navbar-brand {
  color: #ffffff;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
  color: #e6e6e6;
  background-color: transparent;
}
.navbar-custom .navbar-text {
  color: #ffffff;
}
.navbar-custom .navbar-nav > li:last-child > a {
  border-right: 1px solid #a59c9c;
}
.navbar-custom .navbar-nav > li > a {
  color: #ffffff;
  border-left: 1px solid #a59c9c;
}
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
  color: #c0c0c0;
  background-color: transparent;
}
.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: #c0c0c0;
  background-color: #a59c9c;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#a59c9c), to(#bdb6b6));
  background-image: -webkit-linear-gradient(top, #a59c9c, 0%, #bdb6b6, 100%);
  background-image: -moz-linear-gradient(top, #a59c9c 0%, #bdb6b6 100%);
  background-image: linear-gradient(to bottom, #a59c9c 0%, #bdb6b6 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffa59c9c', endColorstr='#ffbdb6b6', GradientType=0);
}
.navbar-custom .navbar-nav > .disabled > a,
.navbar-custom .navbar-nav > .disabled > a:hover,
.navbar-custom .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}
.navbar-custom .navbar-toggle {
  border-color: #dddddd;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #dddddd;
}
.navbar-custom .navbar-toggle .icon-bar {
  background-color: #cccccc;
}
.navbar-custom .navbar-collapse,
.navbar-custom .navbar-form {
  border-color: #a49a9a;
}
.navbar-custom .navbar-nav > .dropdown > a:hover .caret,
.navbar-custom .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: #c0c0c0;
  border-bottom-color: #c0c0c0;
}
.navbar-custom .navbar-nav > .open > a,
.navbar-custom .navbar-nav > .open > a:hover,
.navbar-custom .navbar-nav > .open > a:focus {
  background-color: #a59c9c;
  color: #c0c0c0;
}
.navbar-custom .navbar-nav > .open > a .caret,
.navbar-custom .navbar-nav > .open > a:hover .caret,
.navbar-custom .navbar-nav > .open > a:focus .caret {
  border-top-color: #c0c0c0;
  border-bottom-color: #c0c0c0;
}
.navbar-custom .navbar-nav > .dropdown > a .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
.bannerStrap {
	font-family: 'Muli', sans-serif;
	font-size: 2.2em;
	color: #0504A3;
	padding-top: 17px;
	padding-right: 20px;
}
.rtaPanelCol ul {
	padding-top: 16px;
	padding-left: 15px;
}
.rtaPanelCol ul li {
	padding-top: 2px;
}
.rtaProductBox {
	border: 1px solid #D6D6D6;
	border-radius: 6px;
}
.rtaProductBox .productName {
	font-size: 1.5em;
}
.rtaProductRow {
	margin-top: 10px;
}
h1 {
	color: #0504A3;
	font-size: 2em;
	margin-top: 4px;
}








@media (max-width: 767) {
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #c0c0c0;
    background-color: transparent;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #c0c0c0;
    background-color: #a59c9c;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
  }
}

.navbar-custom .navbar-link {
  color: #ffffff;
}
.navbar-custom .navbar-link:hover {
  color: #c0c0c0;
}

/* Fade transition for carousel items */
.carousel .item {
    left: 0 !important;
      -webkit-transition: opacity .4s; /*adjust timing here */
         -moz-transition: opacity .4s;
           -o-transition: opacity .4s;
              transition: opacity .4s;
}
.carousel-control {
    background-image: none !important; /* remove background gradients on controls */
}
/* Fade controls with items */
.next.left,
.prev.right {
    opacity: 1;
    z-index: 1;
}
.active.left,
.active.right {
    opacity: 0;
    z-index: 2;
}
